.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-entering] {
        animation: fade 200ms;
    }

    &[data-exiting] {
        animation: fade 150ms reverse ease-in;
    }
}

.Modal {
    min-width: 380px;
    border-radius: 20px;
    background: rgb(27, 30, 35);
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
    outline: none;

    &[data-entering] {
        animation: zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.Dialog {
    outline: none;
}

.Heading {
    line-height: 1em;
    margin-top: 0;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgb(255, 255, 255);
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}